
<div class="contenedorP">

    <div class="row">
        <div class="col-md-4 p-4">
            <div class="fondoM">
                <img src="../../assets/pollo1.jpg" alt="" width="100%" height="300px" class="image"> 
            </div>
      
           
            
        </div>
        <div class="col-md-4 p-4 ">
            <div class="fondoM">
              <img src="../../assets/pollo2.jpg" alt="" width="100%" height="300px" class="image">
            </div>
            
           
            
        </div>
        <div class="col-md-4 p-4 ">
            <div class="fondoM">

                <img src="../../assets/pollo3.jpg" alt="" width="100%" height="300px" class="image">
            </div>
            
           
            
        </div>
       
        <div class="col-md-4 p-4" *ngFor='let foto of imgMostrar' (click)="selectedCard(foto._id)">
            <div class="card-header">
                      {{foto.title}}
                  
            </div> 
            <div class="fondoM">   
            <img [src]="'http://localhost:4000/'+foto.imagePath" alt="" width="80%"  width="100%" height="300px" class="image" (click)="selectedCard(foto._id)">
            </div>
            <div class="card-body">
           
               {{foto.description}}
            </div>
            <div class="card-body">
                {{foto.indice}}
             </div>
          
             

             </div>
             
             
             
        </div>

        <div (mouseover)="changeText=true" (mouseout)="changeText=false">
            <div *ngIf="!changeText">Hide</div>
           
                
                <div class="card-body" *ngIf="!changeText">
                    <table>
                        <tr>
                          <th>Producto</th>
                          <th>Precio</th>
                          
                        </tr>
                        <tr>
                          <td>Gaseosa 10 oz</td>
                          <td>1500</td>
                          
                        </tr>
                        <tr>
                          <td>Malteada</td>
                          <td>2700</td>
                          
                        </tr>
                        <tr>
                            <td>Papas ala francesa</td>
                            <td>2500</td>
                            
                          </tr>
                      </table>
                   
                    
                 </div>
               
          </div>
        
        
      
        
        <img src="../../assets/editar.png" alt="" width="30px"  height="30px">


</div>

<div class="row">
    <div class="col-md-4 p-4">
        <div class="fondoM">
            <img src="../../assets/pollo4.jpg" alt="" width="100%" height="300px" class="image">
        </div>
        
       
        
    </div>
    <div class="col-md-4 p-4">
        <div class="fondoM">

            <img src="../../assets/pollo5.jpg" alt="" width="100%" height="300px" class="image">
        </div>
        
       
        
    </div>
    <div class="col-md-4 p-4">
        <div class="fondoM">
            <img src="../../assets/pollo6.jpg" alt="" width="100%" height="300px" class="image">
        </div>
        
       
        
    </div>
</div>

<div class="row">
    <div class="col-md-4 p-4">
        <div class="fondoM">
            <img src="../../assets/pollo7.jpg" alt="" width="100%" height="300px" class="image">
        </div>
        
       
        
    </div>
    <div class="col-md-4 p-4">
        <div class="fondoM">
            <img src="../../assets/pollo8.jpg" alt="" width="100%" height="300px" class="image">
        </div>
        
       
        
    </div>
    <div class="col-md-4 p-4">
        <div class="fondoM">
            <img src="../../assets/pollo9.jpg" alt="" width="100%" height="300px" class="image">
        </div>
        
       
        
    </div>
</div>

<p id="demo" class="demo">Click the button to change the color of this paragraph.
    {{changeText}}
</p>
<br>
<br>

<button (mouseover)="myFunction(changeText=true)" (mouseout)="myFunction(changeText=false)">Try it</button>




<div class="container">
    <div class="row">
      <div class="col-4">
        Primera de tres columnas
      </div>
      <div class="col-4">
        Segunda de tres columnas
      </div>
      <div class="col-4">
        Tercera de tres columnas
      </div>
    </div>
  </div>

