<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <h1>Prueba</h1>
    <button onclick="myfunction()">here</button>
    <div class="mostrar">1</div>
    <div class="mostrar">2</div>
    <div class="mostrar">3</div>
    <div class="mostrar">4</div>
    <div class="mostrar">5</div>
    <div class="mostrar">6</div>
    <div class="mostrar">7</div>
    <div class="mostrar">8</div>
    <div class="mostrar">9</div>
<script>


function myfunction(){



  var x = document.getElementsByClassName("mostrar");
  x[0].style.backgroundColor = "gray";
  x[5].style.display = "none";
 



}


</script>
    


</body>
</html>